body {
    padding: 20px;
}

#title {
    text-align: center;
    color: rgb(4, 32, 56);
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

nav {
    background-color: rgb(4, 32, 56);
    height: 30px;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
}

.food-name {
    text-align: center;
    font-size: 38px;
}

img {
    width: 80%;
    height: auto;
    margin-left: 8%;
    border: 10px solid rgb(29, 6, 82);
}

.min-title,
.food-name {
    color: rgb(5, 80, 27);
}

.min-title{
    font-size: 32px;
}